body{
    text-align:center;
}
#article-container{
    display:inline-block;
    text-align:left;
    width:100%;
    min-width:800px;
    max-width:1000px;
}
.navbar-button-text{
    text-decoration:none;
}
.navbar-button:hover{
    cursor:pointer;
}
