#content-container{
    margin-top:60px;
    text-align:center;
}

.large-content-box{
    display:inline-block;
    width:780px;
    margin-bottom:60px;
}

.large-content-box .content-bgimage{
    width:776px;
    height:296px;
    box-shadow:1px 1px 2px #888;
    padding:2px;
    text-align:left;
}

.large-content-box .content-bgimage .title{
    display:inline-block;
    text-align:left;
    font-size:32px;
    background-color:rgba(0,0,0,.75);
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    position:relative;
    left:20px;
    top:20px;
    z-index:10;
    color:#fff;
}

.large-content-box .content-bgimage img{
    position:relative;
    top:-55px;
    left:0px;
    opacity:.5;
    transition:opacity .25s;
    -webkit-transition:opacity .25s;
    -moz-transition:opacity .25s;
    -o-transition:opacity .25s;
    z-index:5;
}
.large-content-box .content-bgimage img:hover{
    opacity:1;
}

.large-content-box .content-box-text{
    margin-top:10px;
}

.content-box{
    display:inline-block;
    width:780px;
    margin-bottom:40px;
}
p{
    margin:0px;
    padding:0px;
}
.content-box img{
    float:left;
    display:inline-block;
    box-shadow:1px 1px 2px #888;
    width:196px;
    height:196px;
    padding:2px;
}
.content-box .content-box-text{
    display:inline-block;
    width:510px;
    margin-left:20px;
}

.content-box-text{
    padding:20px;
    text-align:left;
    box-shadow:1px 1px 2px #888;
}

.content-center{
    text-align:center;
}

.content-box-title{
    font-size:24px;
    margin-bottom:10px;
}
