#navbar{
    width:100%;
    margin-bottom:10px;
}
#title{
    display:inline-block;
    margin-left:10px;
    color:#fff;
}
#navbar-buttons{
    float:right;
}
.navbar-button{
    display:inline-block;
    width:100px;
    text-align:center;
    margin-right:10px;
}

#navbar-canvas{
    display:none;
    z-index:-10;
}

#title a{
    color:#fff;
}
#title a:hover{
    text-decoration:none;
}
