body {
    font-family: 'Inconsolata';
    font-size:16px;
    min-width:800px;
}
a{
    text-decoration:none;
    color:#666;
}
a:hover{
    text-decoration:underline;
    color:#888;
}

#container{
    text-align:center;
    height:300px;
    margin-top:200px;
}
#name{
    font-size:28px;
    margin-bottom:20px;
}
#description{
    font-size:16px;
    color:#888;
    margin-bottom:65px;
}
#sublinks{
    height:135px;
    color : #fff;
    /*background-color:#333;*/
}
.sublink{
    height:100px;
    vertical-align:text-top;
}
.sublink:first-child{
    margin-left:0px;
}
.sublink-text{
    color:#fff;
}
.sublink-text:hover{
    color:#ccc;
    cursor:pointer;
}
#links{
    height:200px;
    margin:0px;
    padding:0px;
    display:inline-block;
    width:650px;
    background-color:#fff;
}
.link{
    display:inline-block;
    margin:0px;
    padding:0px;
    width:90px;
    margin-left:50px;
}
.link-text{
    color:#000;
    text-decoration:none;
}
.link-text:hover{
    color:#333;
    cursor:pointer;
}


#canvas{
    position:absolute;
    display:none;
    z-index:-5;
}

#footer{
    margin-top:100px;
    margin-bottom:50px;
    color:#aaa;
    text-align:center;
    /*font-size:14px;*/
}
#footer a{
    text-decoration:none;
    color:#888;
}
#footer a:hover{
    text-decoration:none;
    color:#ccc;
}
