---
title : Severin Ibarluzea
---

<!DOCTYPE html>
<html>
<head>
	<title>Severin Ibarluzea</title>

    {% include main_style.html %}

    <!-- Scripts -->
    <script src='jquery.min.js'></script>
    <script src='main.js'></script>
</head>
<body>
    <div id='container'>
        <div id='name'>Severin Ibarluzea</div>
        <div id='description'>Student at Rensselaer Polytechnic Institute, Web Developer, Computer Engineer</div>
        <div id='sublinks'>{% for toplink in site.data.map %}<div class='link sublink'>{% for sublink in toplink[1] %}<span class='sublink-text'>{{ sublink }}</span><br/>{% endfor %}</div>{% endfor %}
        </div>
        <div id='links'>
			{% capture first_element %}{{site.data.map | first | first}}{% endcapture %}
			{% for toplink in site.data.map %}<div class='link' {% if toplink[0] == first_element %} style='margin-left:0px;' {% endif %}><a class='link-text' href='/{{ toplink[0] }}.html'>{{ toplink[0] }}</a></div>{% endfor %}
        </div>
    </div>
    <canvas id='canvas'></canvas>
    <div id='footer'>
        &copy; 2014 Severin Ibarluzea &middot; source code on <a href='https://github.com/seveibar/seveibar.github.io'>github </a>
    </div>
</body>
</html>
