body {
    font-family: 'Inconsolata';
    font-size:16px;
}

#container{
    text-align:center;
    height:300px;
    margin-top:50px;
}
#name{
    font-size:28px;
    margin-bottom:20px;
}
#description{
    font-size:14px;
    color:#888;
    margin-bottom:200px;
}
#links{
    height:200px;
    margin:0px;
    padding:0px;
    display:inline-block;
    width:650px;
}
.link{
    display:inline-block;
    margin:0px;
    padding:0px;
    width:90px;
    margin-left:50px;

    background-color:#fff;
}


#canvas{
    position:absolute;
    display:none;
    z-index:-5;
}
